<%= form_for(@stat_email) do |f| %>
  <% if @stat_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stat_email.errors.count, "error") %> prohibited this stat_email from being saved:</h2>

      <ul>
      <% @stat_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <span>Email Address</span>
  <%= f.text_field :email %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
